In [2]:
!pip install sweetviz
import sweetviz as sv
import pandas as pd
import numpy as np

Requirement already satisfied: sweetviz in c:\users\amand\anaconda3\lib\site-packages (2.1.3)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\amand\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: numpy>=1.16.0 in c:\users\amand\anaconda3\lib\site-packages (from sweetviz) (1.20.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\amand\anaconda3\lib\site-packages (from sweetviz) (1.2.4)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\amand\anaconda3\lib\site-packages (from sweetviz) (4.59.0)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\amand\anaconda3\lib\site-packages (from sweetviz) (3.3.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\amand\anaconda3\lib\site-packages (from sweetviz) (1.6.2)
Requirement already satisfied: importlib-resources>=1.2.0 in c:\users\amand\anaconda3\lib\site-packages (from sweetviz) (5.2.2)
Requirement already satisfied: zipp>=3.1.0 in c:\users\amand\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.4.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\amand\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\amand\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\amand\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\amand\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\amand\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\amand\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: six in c:\users\amand\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\amand\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.1)

In [4]:
# Loanding the data
data = pd.read_csv('StudentsPerformance.csv')

# Printing data insights
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [6]:
# Printing few data samples

data.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
# Analyze data

report = sv.analyze(data)

# Generating report
report.show_html('eda_report.html')

                                             |                                             | [  0%]   00:00 ->…

Report eda_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## Scenario:
1 - I work in a company that wants me to test a predictive machine.
2 - I will be splitting this data into 2 datasets in order to create multiple databeses.
3 - Following, I will use them to validate the databases that were used to built a predictive machine, checking if it has descriptive power.

In [9]:
# Split the data into two datasets
data1 = data[0:400]
data2 = data[400:]

In [11]:
data1.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [12]:
data2.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
400,female,group C,some high school,standard,completed,59,54,67
401,male,group A,some college,standard,none,53,43,43
402,female,group A,some college,free/reduced,none,49,65,55
403,female,group D,high school,standard,completed,88,99,100
404,female,group C,high school,standard,none,54,59,62
405,female,group C,some high school,standard,none,63,73,68
406,male,group B,associate's degree,standard,completed,65,65,63
407,female,group B,associate's degree,standard,none,82,80,77
408,female,group D,high school,free/reduced,completed,52,57,56
409,male,group D,associate's degree,standard,completed,87,84,85

In [13]:
report_comp = sv.compare(data1, data2)
report_comp.show_html()

                                             |                                             | [  0%]   00:00 ->…

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

It is now possible to check if the databases are similar, if they have the same variables, the associations between numerical and categorical data

In [14]:
# Comparing the two datasets
report_comp = sv.compare([data1, 'Base Original'], [data2, 'Base em Validação'])

# Creating the report
report_comp.show_html('compare_results.html')

                                             |                                             | [  0%]   00:00 ->…

Report compare_results.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [16]:
# Target Analysis

report_comp_math = sv.compare(data1,data2, 'math score')
report_comp_math.show_html('compare_results_math.html')

                                             |                                             | [  0%]   00:00 ->…

Report compare_results_math.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.